<h1>Show List</h1>

<h2><%= @td_lists.name %></h2>
<%= @td_lists.complete %>

<%= link_to 'All Item', items_path %>

<!--none of this works below-->
<!--<%  @list.items.each do |item| %>-->
 <!--<%= item.name %>-->
 <!--<!-- <%= link_to 'Edit', edit_item_path %>  <!-- change to links to other places -->
 <!--<%= link_to 'Delete', item_path, method: :delete %> <!-- can't delete from this -->
 <!--<br />-->
<!--<% end %>-->

<!--<%= form_for @item do |f| %>-->

<!--<%= f.label :name %>-->
<!--
<!--<%= f.label :complete %>-->
<!--<%= f.check_box :complete %>-->
<!--<br />-->

<!--<%= f.hidden_field :list_id, :value => @list.id %>-->

<!--<%= f.submit %>-->

<!-- <% end %>-->
